<!doctype html>
<html>
    <head>
        <title>Log In</title>
    </head>
    <body>
        <main>
            <div>
                <h1> Login</h1>
                <form method = "post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button>Login</button>
                </form>
            </div>
        </main>
    </body>
</html>
