<!doctype html>
<html>
    <head>
        <title>Sign up!</title>
    </head>
    <body>
        <main>
            <div>
                <h1> Sign up </h1>
                <form method = "post">
                    {% csrf_token %}
                    {{ signup_form.as_p }}
                    <button> Signup </button>
                </form>
            </div>
        </main>
    </body>
</html>
