<!doctype html>
<html>
    <head>
        <title>Create Receipt</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create Recipe</h1>
                <form method= "post">
                    {% csrf_token %}
                    {{ createreceipt_form.as_p }}
                    <button> Create </button>
                </form>
            </div>
        </main>
    </body>
</html>
