<!doctype html>
<html>
    <head>
        <title> My Receipts </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'category_list' %}">Category List</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">Account List</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}">Create Category</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}"> Create Account</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'signup' %}"> Sign up</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}"> Sign in</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1> My Receipts </h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% if user.is_authenticated %}
                        {% for receipt in receipt_instance %}
                        <tr>
                            <td> {{receipt.vendor}} </td>
                            <td> {{receipt.total}} </td>
                            <td> {{receipt.tax}} </td>
                            <td> {{receipt.date|date:"m/d/y"}} </td>
                            <td> {{receipt.category.name}} </td>
                            <td> {{receipt.account.name}}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </main>
    </body>
</html>
